@import url("https://fonts.googleapis.com/css2?family=Anton&family=Lalezar&display=swap");
*,html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f13825;
}

nav {
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f13825;
  padding: 5px 16%;
  transition: 0.3s;
  flex-wrap: wrap;
  align-content: space-between;
  flex-direction: row;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.logo img {
  max-width: 100%;
  width: 100px;
  height: auto;
  margin-right: 0;
}

.navlist {
  display: flex;
}

.navlist li {
  position: relative;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navlist a {
  font-size: 21px;
  font-weight: 800;
  padding: 10px 27px;
  color: #e8e130;
  width: 40px;
}

/* .navlist a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: #210d0b;
    bottom: -3px;
    left: 0;
    right: 0;
    transition: ease .30s;
}

.navlist a:hover::after {
    width: 100%;
} */

.navlist a:hover {
  color: #2f2e2d;
  transform: scale(2.4);
  text-shadow: 5px 5px 2px rgba(229, 236, 226, 20%);
}

.title {
  font-size: 21px;
  font-weight: 800;
  /* padding-right: 370px; */
  color: #e8e130;
  margin-left: 0;
  font-family: "Anton", sans-serif;
  margin-left: 0;
}

section {
  padding: 10px 10%;
  display: block;
}

.home {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 60px;
  position: relative;
}

.menu {
  background-color: #e8e130;
  /* min-height: 100vh; */
  height: 100%;
  width: 100%;
  margin-top: 20px;
  padding-bottom: 200px;
}

.contact {
  min-height: 60vh;
  background-color: #f13825;
  height: 100%;
  width: 100%;
}

.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 80px;
}

.home-text h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
  color: #e8e130;
  text-shadow: 5px 10px 4px rgba(0, 0, 0, 0.25);
  font-family: "Lalezar", sans-serif;
  font-style: normal;
  margin-top: 20px;
}

.dotted-text-container {
  display: inline-flex;
  padding: 33px 20.077px 0px 17.458px;
  justify-content: center;
  align-items: center;
  border: 3px dashed #111010;
  background: #f13825;
  text-align: center;
}

.dotted-text {
  color: #111010;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 20px;
}

.image {
  width: 580px;
  height: auto;
  flex-shrink: 0;
  border-radius: 594px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #e9e3d8 0%,
    rgba(233, 227, 216, 0) 100%
  );
}

.image .burger-image {
  max-width: 100%;
  width: 510px;
  height: auto;
  padding-left: 10px;
  padding-top: 30px;
}

.menu-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 10px;
}

.menu-image2 {
  width: 573px;
  height: 171px;
  margin: 10px;
}
.menu-image1:hover,
.menu-image2:hover {
  transform: scale(1.1);
}

.menu-image1 {
  width: 538px;
  height: 361px;
  margin: 10px;
}

.divider-img {
  display: flex;
  justify-content: right;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  margin-top: 30px;
}

.divider2-img {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 30px;
}

.btn-buynow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-right: 25px;
}

.btn-buynow {
  width: 140px;
  height: 49px;
  border-radius: 10px;
  border: 1px solid #30f610;
  background: #30f610;
  color: #000;
  text-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);
  font-family: Jomhuria;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn-buynow:hover {
  transform: scale(1.1);
}

.menu-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 0;
}

.choose-eat {
  color: #f13825;
  text-align: center;
  text-shadow: 5px 10px 4px rgba(0, 0, 0, 0.25);
  font-family: "Lalezar", sans-serif;
  font-size: 118px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.paragraph-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.paragraph-menu {
  color: #000;
  text-align: center;
  font-family: Inika;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.white {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.white-container {
  width: 1015px;
  height: 395px;
  background: #fff;
}

.item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.img-white {
  width: 510px;
  height: 347px;
}

.title-text-container {
  margin: 20px;
}

.text-white {
  color: #000;
  font-family: Kulim Park;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: start;
}

.title-text-white {
  color: #6a462f;
  font-family: Lalezar;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title-white-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.ellipse-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 30px;
}

.ellipse-active {
  width: 20px;
  height: 20px;
  background: #f4eb19;
  border-radius: 50%;
  margin: 10px;
}

.ellipse {
  width: 20px;
  height: 20px;
  background: #d5d5d1;
  border-radius: 50%;
  margin: 10px;
}

.ellipse:hover {
  transform: scale(1.4);
}

.contacts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.contact-container {
  width: 1015px;
  height: 395px;
  background-image: url("./images/Rectangle\ 11.png");
  background-repeat: no-repeat;
  size: cover;
}

.contact-img-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 40px;
  padding-top: 40px;
  margin-left: 40px;
}

.contact-image {
  width: 124px;
  height: 114px;
}

.contact-title {
  color: #fff;
  text-align: center;
  margin-top: 25px;
  padding-top: 25px;
}

.contact-text-p {
  color: #fff;
  font-family: Jaldi;
  font-size: 12px;
  font-weight: 400;
  text-align: flex-start;
  margin-left: 40px;
  padding-left: 40px;
  line-height: 1.5;
  margin-top: 15px;
}

.location-p {
  text-align: end;
  color: #fff;
  padding-right: 40px;
}

.contact-logo {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 60px;
  margin-left: 10px;
}

.img-logo-contact {
  width: 37px;
  height: 27px;
  margin: 10px;
}

.img-logo-contact:hover {
  transform: scale(1.4);
}

@media only screen and (max-width: 768px) {
  header {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
    align-content: space-between;
    flex-direction: row;
  }
  .navlist {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-shadow: none;
  }

  .navlist li a {
    font-size: 1.5rem;
  }

  .logo img {
    max-width: 100%;
    width: 90px;
    height: 0 auto;
    margin-right: 0;
    margin-left: 0;
  }

  .title {
    font-size: 21px;
    font-weight: 800;
    color: #e8e130;
    margin-left: 0;
    font-family: "Anton", sans-serif;
    margin-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .home {
    min-height: 10vh;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .dotted-text-container {
    display: inline-flex;
    width: 350px;
    height: 100px;
    justify-content: center;
    align-items: center;
    border: 3px dashed #111010;
    background: #f13825;
    text-align: center;
  }

  .dotted-text {
    text-align: center;
    font-size: 15px;
  }
}

.mobile-menu-icon {
  display: none; 
}

@media only screen and (max-width: 768px) {

  nav {
    padding: 10px 5%;
  }

  .navlist {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #f13825;
    padding: 20px;
    text-align: center;
  }

  .navlist li {
    margin: 10px 0;
  }

  .navlist a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }


  .mobile-menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .image {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-radius: 594px;
    background: radial-gradient(
      50% 50% at 50% 50%,
      #e9e3d8 0%,
      rgba(233, 227, 216, 0) 100%
    ); 
    margin-top: 0;
    margin-bottom: 0;
  }

  .image .burger-image{
    max-width: 100%;
    width: 300px;
    height: 300px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }


  header {
    padding: 10px 5%;
  }

  section {
    padding: 10px 10%;
  }

  .logo img {
    width: 90px;
  }

  .title {
    font-size: 21px;
  }


  .home-container {
    flex-direction: column;
    text-align: center;
  }

  .dotted-text-container {
    width: 80%;
    margin: 20px auto;
  }

  .dotted-text {
    font-size: 18px;
  }

  .home-text {
    padding-bottom: 0;
    flex-direction: column;
    text-align: center;
  }

  .home-text h1 {
    font-size: 36px;
  }

 
  .menu {
    padding-bottom: 100px; 
  }

  .menu-image1,
  .menu-image2 {
    width: 100%;
    height: auto;
  }

  .menu-text-container {
    margin-top: 20px;
  }

  .choose-eat {
    font-size: 36px;
  }

  .paragraph-menu {
    font-size: 16px;
  }

  .white {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .img-white {
    width: 110px;
    height: 147px;
  }

  .white-container {
    width: 415px;
    height: 295px;
  }

  /* Update the contact section for smaller screens */
  .contact-container {
    background-size: cover;
    width: 415px;
    height: 195px;
    /* padding-left: 20px;
    padding-top: 20px;
    margin-left: 0; */
  }

  .contact-img-container {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-top: 0;
  }

  .contact-image {
    width: 60px;
    height: 60px;
  }

  .contact-title {
    font-size: 24px;
  }

  .contact-text-p {
    font-size: 14px;
    margin-left: 0;
    padding-left: 0;
  }

  .location-p {
    text-align: center;
    padding: 0;
  }

  .contact-logo {
    margin-top: 20px;
    margin-left: 0;
    justify-content: center;
  }

  .img-logo-contact {
    width: 30px;
    height: 20px;
  }

  .divider2-img {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: -5px;
    margin-top: 9px;
  }

  .divider-img {
    margin-right: -5px;
    margin-top: 9px;
  }

  .menu-image1, .menu-image2 {
    width: 238px;
    height: auto;
    margin: 10px;
}
}
